<footer class="flex flex-col items-center justify-center">
  <div class="max-w-3xl w-full pt-32 pb-8 md:py-16 px-12">
    <p class="dark:text-white/80 text-black/80 md:text-base text-xs">Copyright © sujang958. All Rights Reserved.</p>
  </div>
</footer>
