<footer class="flex flex-col items-center justify-center">
  <div class="w-full max-w-3xl px-10 py-10">
    <p class="text-xs text-black/80 dark:text-white/80 md:text-base">
      Copyright © sujang958. All Rights Reserved.
    </p>
  </div>
</footer>
