<footer class="flex flex-col items-center justify-center">
  <div class="max-w-3xl w-full py-16">
    <p class="dark:text-white/80 text-black/80">Copyright © sujang958. All Rights Reserved.</p>
  </div>
</footer>
