<header
  class="fixed top-0 flex flex-col items-center w-full border-b border-black/20 py-4 bg-white"
>
  <div class="px-4 max-w-4xl w-full flex flex-row items-center justify-between">
    <div>
      <a href="/" class="text-xl font-semibold">sujang's blog</a>
    </div>
    <div class="flex flex-row items-center space-x-7">
      <p class="cursor-default relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 absolute right-3 top-1/2 transform-gpu -translate-y-1/2 cursor-pointer"
        >
          <path
            fill-rule="evenodd"
            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
            clip-rule="evenodd"></path>
        </svg>
        <input
          type="text"
          class="rounded-3xl py-1 text-sm border-black/20"
          placeholder="Search for posts"
        />
      </p>
      <p class="cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
          ></path>
        </svg>
      </p>
    </div>
  </div>
</header>
