---
import DarkModeButton from "./darkModeButton.svelte";

---

<header
  class="fixed top-0 flex flex-col justify-center items-center w-full border-b border-black/20 py-4 bg-white dark:bg-black/90 dark:border-white/20"
>
  <div class="px-4 max-w-4xl w-full flex flex-row items-center justify-between">
    <div>
      <a href="/" class="text-xl font-semibold">sujang's blog</a>
    </div>
    <div class="flex flex-row items-center">
      <p class="cursor-default relative mr-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="#000"
          class="w-5 h-5 absolute right-3 top-1/2 transform-gpu -translate-y-1/2 cursor-pointer"
        >
          <path
            fill-rule="evenodd"
            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
            clip-rule="evenodd"></path>
        </svg>
        <input
          type="text"
          class="rounded-3xl py-1 text-sm border-black/20 text-black"
          placeholder="Search for posts"
        />
      </p>
      <DarkModeButton client:only />
    </div>
  </div>
</header>
