---
import { getEntryBySlug } from "astro:content"
import Layout from "@layouts/Layout.astro"

const { slug } = Astro.params
if (!slug) throw new Error("Slug is required")

const entry = await getEntryBySlug("hacking", slug)
if (!entry) throw new Error("The post not found")

const { data, render } = entry
const { Content } = await render()
---

<Layout title={data.title} class="font-intel-mono max-w-[44rem]">
  <a href="/hacking" class="mb-10 underline">../</a>
  <p class="text-base md:text-lg">{data.category}</p>
  <p class="mt-1 text-3xl font-bold md:text-4xl">{data.title}</p>
  <p class="mt-4 text-sm md:text-base">
    {new Date(data.date).toLocaleDateString("en-US")}
  </p>
  <style is:inline>
    .dark .md-content code:not(pre code) {
      color: #f95e54;
      background-color: #0d1117;
      position: relative;
      padding: 0.15rem 0.3rem;
      border-radius: 0.35rem;
    }

    .md-content code:not(pre code) {
      color: #fff;
      background-color: #0d1117;
      position: relative;
      padding: 0.15rem 0.3rem;
      border-radius: 0.35rem;
    }

    .md-content pre.astro-code {
      position: relative;
    }
  </style>
  <div
    class="md-content prose-base break-words py-16 prose-h1:font-bold prose-h2:font-semibold prose-h3:font-medium prose-a:underline prose-blockquote:border-l prose-blockquote:border-black prose-img:rounded-lg dark:prose-blockquote:border-white md:prose-lg prose-li:list-decimal prose-li:list-inside font-pretendard"
  >
    <Content />
  </div>
</Layout>

<script>
  import { attachCopyButtons } from "@components/CopyButton"

  attachCopyButtons(".md-content pre.astro-code")
</script>
